# Node
node_modules/
package-lock.json

# AWS
.aws/
.env
*.pem
*.key
*.zip

# OS
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/

# Local overrides
t.html-downloaded
dist-config.json
policy.json
versions.json
markers.json